@mixin responsive($breakpoint) {
    @if $breakpoint==desktop {
        @media (min-width: 1400px) {
            @content;
        }
    }
    @if $breakpoint==big {
        @media (max-width: 1260px) {
            @content;
        }
    }
    @if $breakpoint==sakkiz {
        @media (max-width: 870px) {
            @content;
        }
    }
    @if $breakpoint==yettiyuz {
        @media (max-width: 700px) {
            @content;
        }
        @if $breakpoint==mobile {
            @media (max-width: 660px) {
                @content;
            }
        }
    }
    @if $breakpoint==turt {
        @media (max-width: 440px) {
            @content;
        }
    }
    @if $breakpoint==minMobile {
        @media (max-width: 355px) {
            @content;
        }
    }
    @if $breakpoint==minimumMobile {
        @media (max-width: 325px) {
            @content;
        }
    }
}

.main {
    display: flex;
    background-color: #191f31;
    height: 88vh;
    @include responsive(sakkiz) {
        width: 100vw;
    }
}

.answer {
    width: 100vw;
    // height: vh;
    // margin: 0 auto;
    padding: 0;
    &__header {
        @include responsive(mobile) {
            display: none;
        }
        position: relative;
        height: 12vh;
        width: 100%;
        background-color: #1f2842;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
        @include responsive(sakkiz) {
            height: 8vh;
        }
        &-logo {
            margin-left: 103px;
            @include responsive(big) {
                margin-left: 20px;
            }
            @include responsive(sakkiz) {
                width: 40%;
            }
        }
        &-span {
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0px;
            top: 100%;
            background: #dcb541;
        }
    }
    &__left {
        @include responsive(sakkiz) {
            width: 100vw;
        }
        height: 83.8vh;
        width: 84%;
        background-color: #191f31;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 45px 100px;
        @include responsive(big) {
            padding: 20px 20px;
        }
        &-subject {
            font-family: "Montserrat";
            font-size: 40px;
            @include responsive(big) {
                font-size: 32px;
            }
            @include responsive(mobile) {
                font-size: 14px;
            }
            @include responsive(turt) {
                font-size: 8px;
            }
            color: #ffffff;
            &--3 {
                margin-bottom: 20px;
            }
        }
        &-text {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 31.25px;
            line-height: 38px;
            display: flex;
            align-items: flex-end;
            color: #ffffff;
            margin-bottom: 50px;
        }
        &-input {
            border: transparent;
            border-bottom: 1px solid #ececec;
            background-color: transparent;
            width: 65%;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            padding: 20px 0;
            color: #fff;
            outline: none;
            margin-top: -0px;
            @include responsive(sakkiz) {
                font-size: 24px;
                width: 80%;
            }
            @include responsive(turt) {
                font-size: 16px;
            }
             ::placeholder {
                font-size: 35px;
                @include responsive(sakkiz) {
                    font-size: 24px;
                }
            }
            &--3 {
                transform: scale(2);
                @include responsive(turt) {
                    margin-top: -20px;
                }
            }
        }
        &-span--3 {
            @include responsive(turt) {
                margin-top: -20px;
            }
            margin-left: 20px;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            padding: 30px 0;
            // line-height: 69px;
            // display: flex;
            // align-items: center;
            letter-spacing: 3px;
            color: #ffffff;
            @include responsive(big) {
                font-size: 24px;
            }
            @include responsive(sakkiz) {
                font-size: 18px;
            }
        }
        &-wrapper--3 {
            display: flex;
            align-items: center;
        }
        &-box {
            display: flex;
            gap: 35%;
            align-items: center;
            @include responsive(sakkiz) {
                width: 90vw;
                justify-content: space-between;
            }
        }
        &--backbtn,
        &--subbtn {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            @include responsive(mobile) {
                font-size: 12px;
            }
            @include responsive(sakkiz) {
                width: 150px;
                height: 15px;
            }
            font-size: 24px;
            font-style: normal;
            border: none;
            border-radius: 50px;
            // padding: 0 5px;
            .btn-icon {
                font-size: 30px;
                @include responsive(turt) {
                    font-size: 12px;
                }
            }
        }
        &--backbtn {
            background-color: transparent;
            @include responsive(sakkiz) {
                font-size: 18px;
            }
            color: #fff;
            @include responsive(turt) {
                font-size: 14px;
                width: 100px;
            }
        }
        &--subbtn {
            text-decoration: none;
            width: 250px;
            height: 40px;
            @include responsive(sakkiz) {
                font-size: 18px;
            }
            @include responsive(turt) {
                font-size: 14px;
                width: 100px;
            }
            background-color: #fbd289;
            color: #191f31;
        }
    }
    &__right {
        @include responsive(sakkiz) {
            display: none;
        }
        height: 88vh;
        width: 16%;
        background-color: #1f2842;
        position: relative;
        margin: 0 auto;
        &-span1 {
            position: absolute;
            width: 150px;
            height: 150px;
            @include responsive(big) {
                width: 120px;
                height: 120px;
            }
            border-radius: 50%;
            border: 1px solid #fff;
            top: 28%;
            left: 15%;
            transform: translateY(-50%);
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 45.8333px;
            line-height: 69px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
        }
        &-span2 {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 275;
            font-size: 33.3333px;
            line-height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            position: absolute;
            width: 79px;
            height: 50px;
            top: 85%;
            left: 15%;
        }
    }
}

.note {
    font-size: 24px;
    color: #b7bdd0;
    @include responsive(big) {
        font-size: 18px;
    }
}

.data-all {
    color: #b7bdd0;
    font-size: 18px;
}

.answer__left-subject {
    @include responsive(sakkiz) {
        font-size: 18px;
    }
}

.position-inputs {
    display: flex;
    flex-direction: column;
    // gap: -4px;
}

.btn-send {
    padding: 7px 10px;
    text-decoration: none;
}

.link-btn {
    text-decoration: none;
}

@include responsive(big) {}